html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 1.8rem;
  color: #151515;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

.top-navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  border-bottom: 2px solid #ececec;
  background-color: #fff;
}

.mainnavbar-logo {
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
}

.mainnavbar-menu {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.mainnavbar-menu li {
  text-align: center;
}

.mainnavbar-menu li a {
  position: relative;
  display: block;
  padding: 1rem 0;
  margin: 1rem 2rem;
  text-decoration: none;
  color: #151515;
}

.mainnavbar-menu li a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #cef1ea;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.mainnavbar-menu li a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

section {
  padding: 8rem 0;
  border-bottom: 2px solid #ececec;
}

section h1 {
  font-size: 4.8rem;
}

section h2 {
  font-size: 4.4rem;
  text-align: center;
}

section .row h2 {
  text-align: left;
}

section .row .divider {
  text-align: left;
}

section .divider {
  text-align: center;
}

section .divider:after {
  content: '';
  display: inline-block;
  background-color: #cef1ea;
  width: 120px;
  height: 3px;
}

section .section-content {
  padding-top: 4rem;
}

section .info {
  margin-top: 2rem;
  font-size: 1.8rem;
}

section .subinfo {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #9b9b9b;
}

.main {
  background-color: grey;
  background: url("../img/main-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #151515;
}

.achievement {
  background: #f6f9f9;
  color: #151515;
  text-align: center;
}

.achievement-block {
  padding: 1rem;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}

.achievement-block:hover {
  z-index: 1;
}

.achievement-block:hover:before {
  width: 104%;
  height: 104%;
  opacity: 1;
}

.achievement-block:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 10px;
}

.achievement-icon {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  background-color: #cef1ea;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.achievement-icon_middle {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievement-icon i {
  font-size: 8rem;
  color: #9b9b9b;
}

.sectionimages {
  text-align: center;
  background: #fff;
}

.sectionimages-item {
  -webkit-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
  border-radius: 10px;
}

.sectionimages-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.sectionimages-more {
  margin-top: 4rem;
}

.certificates {
  background: #fff;
}

.portfolio {
  background: #f6f9f9;
}

.response {
  background: #fff;
  background-size: cover;
}

.response .slick-slide, .response .slick-slide * {
  outline: none !important;
}

.response .item {
  padding: 20px;
  padding-bottom: 80px;
  position: relative;
}

.response .item-body {
  background-color: #fff;
  border-radius: 10px;
  padding: 4rem 6rem;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid #cef1ea;
}

.response .item-header > * {
  display: inline-block;
}

.response .item-header h4 {
  padding-right: 1.5rem;
  font-size: 2.4rem;
  border-right: 1px solid #ececec;
}

.response .item-header p {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  color: #9b9b9b;
}

.response .item-text {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.response .item-bottom {
  text-align: right;
}

.response .item-img {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 9px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 9px rgba(0, 0, 0, 0.1);
}

.response .item-img img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.response .item-mark {
  fill: #ebebeb;
}

.title {
  background-color: #f6f9f9;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.title h1 {
  position: relative;
  font-size: 4.4rem;
  z-index: 3;
}

.title:after {
  position: absolute;
  bottom: -5rem;
  left: 10rem;
  display: block;
  content: '';
  width: 20rem;
  height: 20rem;
  background-color: #cef1ea;
  opacity: .5;
  border-radius: 50%;
}

.content {
  margin-top: 5rem;
}

.content h4 {
  font-size: 2.4rem;
}

.posts {
  margin-right: 8rem;
}

.post-info {
  background-color: #fff;
  padding: 4rem;
  -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 22px rgba(0, 0, 0, 0.3);
  margin-bottom: 4rem;
}

.post-info h4 a {
  text-decoration: none;
  color: #151515;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.post-info h4 a:hover {
  color: #cef1ea;
}

.post-text {
  color: #9b9b9b;
  font-size: 1.6rem;
}

.post-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #9b9b9b;
  font-size: 1.4rem;
  font-style: italic;
}

.sidebar-list ul {
  list-style: none;
  padding: 2rem 0;
}

.sidebar-list ul li {
  font-weight: 400;
  color: #9b9b9b;
}

.sidebar-list ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.4rem;
  content: "\f105";
  display: inline-block;
  min-width: 25px;
  color: #9b9b9b;
}

.button-main {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 11px 32px;
  font-size: 14px;
  line-height: 24px;
  border: 2px solid;
  font-family: montserrat,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
  font-weight: 600;
  letter-spacing: .06em;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 250ms all ease-in-out;
  transition: 250ms all ease-in-out;
  border-radius: 25px;
  color: #151515;
  background-color: #cef1ea;
  border-color: #cef1ea;
}

.button-main:hover {
  background-color: #b4e5db;
  border-color: #b4e5db;
}

.button-main:active {
  background-color: #b4e5db;
  border-color: #b4e5db;
}

.button-main:focus {
  outline: none;
}

footer {
  padding: 3rem;
  text-align: center;
  background-color: #f6f9f9;
  color: #151515;
}
/*# sourceMappingURL=main.css.map */